.KeyboardPart {
    position: relative;
    height: 300px;
}

.KeyboardPart > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.KeyboardPart-whiteKeys {
    display: flex;
}

.KeyboardPart-whiteKey {
    border: 1px solid gray;
}

.KeyboardPart-blackKeys {
    display: flex;
    justify-content: space-evenly;
}

.KeyboardPart-blackKey {
    background: black;
    height: 190px;
    width: 24px;
}
